.DS_Store
backend/node_modules
frontend/node_modules
frontend/dist


# local env files
backend/.env.local
backend/.env.*.local
frontend/.env.local
frontend/.env.*.local

# Log files
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/pnpm-debug.log*
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
